{% extends 'layout.html' %}

{% block title %}
    about
{% endblock %}

{% block main %}

<h1 class = 'about'> Our young enterprise team REMIX aims to upcycle old vinyls and provide them with a new life in a stylish way </h1>
<h2 class = 'font'>Members:</h2>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container text-center">
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Leon Elliss</h1>
                <p class="title">Managing Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a> 
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Rosa Ellis-Ryan</h1>
                <p class="title">Managing Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Ujesh Sakariya</h1>
                <p class="title">Finance Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Yana Gandhi</h1>
                <p class="title">Finance Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Saahat Satyam</h1>
                <p class="title">Marketing Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Finlay Cullun-Draper</h1>
                <p class="title">Marketing Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Ellis Campbell</h1>
                <p class="title">Secretary</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a> 
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Callum Digva</h1>
                <p class="title">Sales Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Maha Alam</h1>
                <p class="title">Managing Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Izma Querashi</h1>
                <p class="title">Social Media Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Rohan Sharma</h1>
                <p class="title">Sales Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{{url_for('static',filename='unknown.jpeg')}}" width = '100' height='200' alt="#" style="width:100%">
                <h1>Fraser Duffy</h1>
                <p class="title">Social Media Director</p>
                <p class = 'font' >REMIX  <img src ="{{url_for('static',filename='logo.jpg')}}" width ='40' height = '30' alt=""></p> 
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
            </div>
        </div>
    </div>
</div>



{% endblock %}